<strong>Olá, {{student}}</strong>
<p>
  Sua inscrição foi alterada, seque os detalhes da sua nova inscrição:
</p>
<p>
  <strong>Plano anterior: </strong> {{planOld}} <br>
  <strong>Plano atual: </strong> {{plan}} <br>
  <strong>Data inicio: </strong> {{start_date}} <br>
  <strong>Data término: </strong> {{end_date}} <br>
  <strong>Valor: </strong> {{price}} <br>
</p>