<strong>Seja bem-vindo {{student}}</strong>
<p>Obrigado por se matricular, aqui está os detalhes da sua inscrição na academia:</p>
<p>
  <strong>Plano: </strong> {{plan}} <br>
  <strong>Data inicio: </strong> {{start_date}} <br>
  <strong>Data término: </strong> {{end_date}} <br>
  <strong>Valor: </strong> {{price}} <br>
</p>